:root {
    --text-color: rgba(17, 37, 37);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-weight: lighter;
    background-color: rgb(213, 214, 218);
}

/* header start */

header {
    background-image: url(../images/header-bg.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
    font-size: 30px;
    padding: 15px;
    border-bottom: 3px solid rgba(17, 37, 37, 0.8);
}

header h1 {
    color: rgb(17, 37, 37);
    padding: 15px 50px 15px 15px;
    font-weight: bold;
    background-color: rgb(213, 214, 218);
    border-radius: 10px;
    font-style: oblique;
    flex-wrap: nowrap;
}


header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 20px 30px;
    margin-top: 15px;
    font-size: 25px;
    color: var(--text-color);
}

header nav ul li:hover {
    font-weight: bold;
    font-size: 27px;
    background-color: rgb(213, 214, 218);
    border-radius: 5px;
}

/* header end */

/* about section */

.about {
    padding: 15px;
    display: block;
    flex-wrap: wrap;
    background-color: rgb(213, 214, 218);
}

.about h2 {
    font-size: 40px;
    border-bottom: 3px solid var(--text-color);
    padding: 50px auto 20px auto;
    text-align: center;
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
}

.about p {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--text-color);
    font-size: 20px;
    margin-bottom: 50px;
}


/* about section end */

/* work */

.work-box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(213, 214, 218);
}

.work-box h2 {
    font-size: 50px;
    border-right: 3px solid var(--text-color);
    background-color:rgb(213, 214, 218);
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
    flex: 0 0 20%;
    text-align: right;
}

.first-website {
    opacity: 0.8;
    margin-bottom: 10px;
    flex: 0 0 100%;
}

.websites h3 {
    font-size: 15px;
    padding: 5px;
    background-color:rgb(184, 192, 204);
}

.websites h3 p {
    font-size: 13px;
}
.websites {
    flex: 0 0 100%;
    flex-direction: row;
}
.website-name {
    display: flex;
    flex: 0 0 49%;
}

.placeholder {
    display: flex;

}


.picture1 {
    background-image: url(../images/run-buddy-screenshot.png);
    display: flex;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid rgba(17, 37, 37, 0.8);
    flex-wrap: wrap;
    flex: 0 0 80%;
    min-height: 400px;
}

.picture2 {
    background-image: url(../images/horiseon-screenshot.png);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid rgba(17, 37, 37, 0.8);
    flex-wrap: wrap;
    min-height: 250px;
    flex: 0 0 30%;
}


.picture1:hover {
    background-size: 1100px;
    opacity: 1;
}

.pictures:hover, .picture2:hover {
    background-size: 550px;
    opacity: 1;
}

.pictures {
    background-image: url(../images/placeholder-bg.jpg);
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid rgba(17, 37, 37, 0.8);
    flex-wrap: wrap;
    min-height: 250px;
    flex: 0 0 30%;
}




.website {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 0;
    flex: 0 0 49%;
    justify-content: space-between;
}


.websites div:first-child {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
    flex: 0 0 70%;
}

.websites div {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
    flex: 0 0 50%; 
}


/* end work */

/* footer */

footer {
    background-image: url(../images/header-bg.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
    font-size: 25px;
    padding: 15px;
    border-bottom: 3px solid rgba(17, 37, 37, 0.8);
    border-top: 3px solid rgba(17, 37, 37, 0.8);
}

footer h4 {
    background-color:rgb(184, 192, 204);
    border-radius: 5px;
    padding: 10px;
}

footer div {
    font-size: 20px;
    padding: 8px 25px;
    font-weight: bold;
}

.phone:hover, .email:hover, .linkedin:hover {
    background-color:rgb(184, 192, 204);
    border-radius: 5px;
    padding: 10px;
    font-size: 23px;
}

/* end footer */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    section {
        flex-direction: column;
    }
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 30px;
    }
    footer h4, footer div {
        text-align: center;
        width: 100%;
    }

    .work-box h2 {
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 2px solid var(--text-color);
        border-right: none;
    }


    .picture1 {
        flex: 0 70%;
    }
    

  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */   


@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .work-box {
        flex: 1 100%;
        text-align: center;
        justify-content: center;
    }

    .pictures {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .website-name p {
        flex: 100%;
    }

    .websites {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }
}


