:root {
    --text-color: rgba(17, 37, 37);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    font-weight: lighter;
}

/* header start */

header {
    background-image: url(../images/header-bg.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
    font-size: 30px;
    padding: 15px;
    border-bottom: 3px solid rgba(17, 37, 37, 0.8);
}

header h1 {
    color: rgb(17, 37, 37);
    padding: 15px;
    font-weight: bold;
    background-color: rgb(213, 214, 218);
    border-radius: 10px;
    font-style: oblique;
}

.self {
    align-items: left;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header nav ul li {
    padding: 20px 30px;
    margin-top: 15px;
    font-size: 25px;
    color: var(--text-color);
}

header nav ul li:hover {
    font-weight: bold;
    font-size: 27px;
    background-color: rgb(213, 214, 218);
    border-radius: 5px;
}

/* header end */

/* about section */

.about {
    padding: 15px;
    display: block;
    flex-wrap: wrap;
    background-color: rgb(213, 214, 218);
}

.about h2 {
    font-size: 40px;
    border-bottom: 3px solid var(--text-color);
    padding: 50px auto 20px auto;
    text-align: center;
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
}

.about p {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--text-color);
    font-size: 20px;
    margin-bottom: 50px;
}


/* about section end */

/* work */

.work {
    display: flex;
    margin-top: 0;
    background-color: rgb(213, 214, 218);
}


.work h2 {
    padding: 50px 20px 50px 200px;
    font-size: 50px;
    border-right: 3px solid var(--text-color);
    background-color:rgb(213, 214, 218);
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
}

.first-website {
    opacity: 0.8;
    margin-bottom: 10px;
}

.websites h3 {
    font-size: 15px;
    padding: 5px;
    background-color:rgb(184, 192, 204);
}

.websites h3 p {
    font-size: 13px;
}

.picture1 {
    background-image: url(../images/run-buddy-screenshot.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    transition: background-size 0.2s;
    display: flex;
    width: 1000px;
    height: 370px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 3px solid rgba(17, 37, 37, 0.8);
}

.picture2 {
    background-image: url(../images/horiseon-screenshot.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: background-size 0.2s;
    display: flex;
    width: 500px;
    height: 250px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 3px solid rgba(17, 37, 37, 0.8);
}


.picture1:hover {
    background-size: 1100px;
    opacity: 1;
}

.picture2:hover, .picture3:hover, .picture4:hover, .picture5:hover, .picture6:hover {
    background-size: 550px;
    opacity: 1;
}

.picture3 {
    background-image: url(../images/placeholder-bg.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: background-size 0.2s;
    display: flex;
    width: 500px;
    height: 250px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 3px solid rgba(17, 37, 37, 0.8);
}

.picture4 {
    background-image: url(../images/placeholder-bg.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: background-size 0.2s;
    display: flex;
    width: 500px;
    height: 250px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 3px solid rgba(17, 37, 37, 0.8);
}

.picture5 {
    background-image: url(../images/placeholder-bg.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: background-size 0.2s;
    display: flex;
    width: 500px;
    height: 250px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 3px solid rgba(17, 37, 37, 0.8);
}

.picture6 {
    background-image: url(../images/placeholder-bg.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-clip: border-box;
    transition: background-size 0.2s;
    display: flex;
    width: 500px;
    height: 250px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    border: 3px solid rgba(17, 37, 37, 0.8);
}

.website {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 0;
}

.second-website {
    opacity: 0.8;
}

.third-website {
    opacity: 0.8;
}

.fourth-website {
    background-image: url(../images/placeholder-bg.jpg);
}

.fifth-website {
    background-image: url(../images/placeholder-bg.jpg);
}

.sixth-website {
    background-image: url(../images/placeholder-bg.jpg);
}

.websites {
    margin: 0 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
}


/* end work */

/* footer */

footer {
    background-image: url(../images/header-bg.jpg);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(17, 37, 37, 0.8);
    font-size: 25px;
    padding: 15px;
    border-bottom: 3px solid rgba(17, 37, 37, 0.8);
    border-top: 3px solid rgba(17, 37, 37, 0.8);
}

footer h4 {
    background-color:rgb(184, 192, 204);
    border-radius: 5px;
    padding: 10px;
}

footer div {
    font-size: 20px;
    padding: 8px 25px;
    font-weight: bold;
}

.phone:hover {
    background-color:rgb(184, 192, 204);
    border-radius: 5px;
    padding: 10px;
}

.email:hover {
    font-size: 23px;
    background-color: rgb(184, 192, 204);
    border-radius: 5px;
}

.linkedin:hover {
    font-size: 23px;
    background-color: rgb(184, 192, 204);
    border-radius: 5px;
}

/* end footer */